<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MocaTest"
        tools:targetApi="31">
        <activity
            android:name=".TrailActivity"
            android:exported="false" />
        <activity
            android:name=".TotalScoreActivity"
            android:exported="false" />
        <activity
            android:name=".WordInputActivity"
            android:exported="false" />
        <activity
            android:name=".MemoryActivity"
            android:exported="false" />
        <activity
            android:name=".OrientationActivity"
            android:exported="false" />
        <activity
            android:name=".SimilarityActivity"
            android:exported="false" />
        <activity
            android:name=".WordActivity"
            android:exported="false" />
        <activity
            android:name=".SpeechActivity"
            android:exported="false" />
        <activity
            android:name=".SubtractionActivity"
            android:exported="false" />
        <activity
            android:name=".LetterGame"
            android:exported="false" />
        <activity
            android:name=".NumbersGameActivity"
            android:exported="false" />
        <activity
            android:name=".AnimalQuizActivity"
            android:exported="false" />
        <activity
            android:name=".ClockActivity"
            android:exported="false" />
        <activity
            android:name=".DrawingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>